body{
    font-family: 'Oswald', sans-serif;
    margin: auto;
    background-image: linear-gradient( #141e30, #19547b);
    color:white
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #3399FF;
}
header{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    width: 100%;
}
.menu-icon{
    width: 20px;
    height: 20px;
}
#menu a{
    display: block;
}
#menu span{
    margin-left: 5px;
}
.menu-an1, .menu-an2{
    display: none;
    margin-left: 10px;
}
.tour-trong:hover .menu-an1{
    display: block;
}
.tour-trong:hover>a{
    color: #3399FF;
}
.tour-ngoai:hover .menu-an2{
    display: block;
}
.tour-ngoai:hover>a{
    color: #3399FF;
}
h2{
    color: #3399FF;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
hr{
    height: 1px;
    background-color: #3399FF;
}
.fa{
    color: orange;
}
.dangnhap>div>img{
    width: 20px;
    height: 20px;
    opacity: 0;
}
.dangnhap>div>input:first-child{
    height: 30px;
    border: 0;
    outline: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid grey;
    background: transparent;
    transition: border-color 0.2s;
    &::placeholder {
        color: white;
    }
}
.dangnhap>div>input:nth-child(2){
    height: 30px;
    border: 0;
    outline: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid grey;
    background: transparent;
    transition: border-color 0.2s;
    &::placeholder {
        color: white;
    }
}
.dangnhap>div>input:nth-child(3){
    width: 50%;
}
.dangnhap>div>input:focus{
    background-color: lavender;
    width: 80%;
    transition: 1s;
    +img{
        position: relative;
        top: 4px;
        opacity: 1;
        animation: chuyenphai 0.5s;
        transition: 0.5s linear;
        right: 30px;
    }
    &::placeholder{
        opacity: 0;
    }
}

@keyframes chuyenphai{
    0% {right: 0px;}
    6% {right: 2px;}
    12% {right: 4px;}
    18% {right: 6px;}
    24% {right: 8px;}
    30% {right: 10px;}
    36% {right: 12px;}
    42% {right: 14px;}
    48% {right: 16px;}
    54% {right: 18px;}
    60% {right: 20px;}
    66% {right: 22px;}
    72% {right: 24px;}
    78% {right: 26px;}
    84% {right: 28px;}
    90% {right: 30px;}
}
.lienhe{
    color: black;
}
@media screen and (min-width:240px) {
    .logo{
        width: 45%;
        height: 45%;
    }
    .logo{
        margin-left: 19%;
    }
    header>.logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #menu{
        display: none;
        position: absolute;
        background-color: aliceblue;
        width: 50%;
        opacity: 0.7;
        padding: 10px;
        line-height: 25px;
        top: 8%;
    }
    .menu-icon:hover{
        color: #3399FF;
    }
    article{
        padding: 10px;
    }
    footer{
        padding: 10px;
        background-color: rgb(255, 255, 255);
    }
    footer>div:first-child{
        display: none;
    }
    .mangxahoi img{
        width: 10%;
        height: 10%;
        margin-right: 5%;
    }
    .doitac img{
        width: 15%;
        height: 15%;
        margin-right: 5%;
    }
    .thuvienanh>div{
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
        overflow: hidden;
    }
    .thuvienanh img{
        width: 100%;
        height: 200px;
    }
    .thuvienanh img:hover{
        overflow: hidden;
        transform: scale(1.2,1.2);
        transition: 1s;
    }
    button:hover{
        background-color: #3399FF;
    }
    input:last-child{
        padding: 10px;
    }
    input:last-child:hover{
        background-color: #3399FF;
        color: white;
    }
}
@media screen and (min-width: 768px) {
    .menu-icon{
        display: none;
    }
    .logo{
        width: 20%;
        height: 20%;
        margin-left: 5%;
    }
    #menu{
        display: inline-flex;
        justify-content: space-around;
        width: 60%;
        top: 0px;
        right: 5%;
    }    
    body>h2{
        margin-left: 5%;
        margin-right: 5%;
    }
    section>article:nth-child(1){
        grid-area: tour;
        margin-left: 5%;
    }
    section>article:nth-child(2){
        grid-area: thongtin;
        margin-bottom: 10px;
    }
    section{
        display: grid;
        grid-template-areas: 'tour thongtin';
    }
    .lienhe{grid-area: lienhe;}
    .thongtin{grid-area: thongtin;}
    .sanpham{grid-area: sanpham;}
    .mangxahoi{grid-area: mangxahoi;}
    .doitac{grid-area: doitac;margin-top: -60px;}
    .thuvienanh{
        display: none;
    }
    footer{
        padding: 0 5% 0 5%;
        display: grid;
        grid-template-areas: 
        'lienhe sanpham thongtin mangxahoi'
        'lienhe sanpham thongtin doitac';
    }
}
@media screen and (min-width: 1024px) {
    .logo{
        margin-left: 10%;
    }
    #menu{
        width: 50%;
        margin-right: 10%;
    }
    body>h2{
        margin-left: 10%;
    }
    footer{
        padding: 0 10% 0 10%;
    }
    section{
        width: 100%;
    }
    section>article:nth-child(1){
        padding-left: 10%;
    }
    .dangnhap>div>input:focus{
        width: 70%;
    }
}